@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../node_modules/@fortawesome/fontawesome-free/css/all.css';

@import './variables.scss';
@import './animations.scss';

html {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

  /* Prevent callout to copy image, etc when tap to hold */
  -webkit-touch-callout: none;

  /* Prevent webkit from resizing text to fit */
  -webkit-text-size-adjust: none;

  /* Disable text selection, or your app will feel like a web page */
  -webkit-user-select: none;
  -webkit-app-region: drag;

  /* Font smoothing */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);

  &:after {
    position: absolute;
    display: block;
    content: '';
    height: 10px;
    width: 100%;
    bottom: 0;
    left: 0;

    @extend .gradient;

    animation: rotate 3s infinite linear;
  }
}

.body-no-gradient {
  background: #fff;
  &:after {
    display: none;
  }
}

.logo {
  background-image: url('../images/MakerAL.com.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 300px auto;

  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;

  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: bounce;
}

// Begin app layout

#app {
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 100%;

  display: flex;
  flex-direction: column;

  // Smoother startup
  animation: fadeIn 0.5s;
}

main {
  // Expand
  flex: 1;
}

footer,
header {
  display: flex;
  justify-content: center;

  background-color: $theme-color-orange;
  padding: 20px;
}

.db-connecting,
.db-failed-to-connect {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  text-align: center;

  font-size: 24px;
  font-weight: 700;
  color: #333;

  i {
    font-size: 40px;
    color: #fff;
  }
}

// End app layout

header {
  ul {
    /* https://css-tricks.com/flexbox-bar-navigation/ */
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;

    li {
      a {
        padding: 1.25rem 0.5rem;
        font-size: 1.6rem;
        font-weight: normal;
        text-decoration: none;
        text-transform: uppercase;
        display: flex;
        align-items: flex-start;
        color: #fff;
        letter-spacing: 2px;
      }

      .selected {
        text-decoration: underline;
      }
    }
  }
}

footer {
  color: #fff;
  font-size: 16px;
  .col-left {
    text-align: center;
    @include media-breakpoint-up(md) {
      text-align: left;
    }
  }

  .col-right {
    text-align: center;
    @include media-breakpoint-up(md) {
      text-align: right;
    }
  }
}

.page {
  padding: 20px;

  /* Smoother startup */
  animation: fadeIn 0.5s;
}

.gradient {
    background: rgb(48,255,144); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(48,255,144,1) 0%, rgba(237,45,237,1) 25%, rgba(201,152,38,1) 50%, rgba(48,255,230,1) 75%, rgba(48,255,144,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(48,255,144,1)), color-stop(25%,rgba(237,45,237,1)), color-stop(50%,rgba(201,152,38,1)), color-stop(75%,rgba(48,255,230,1)), color-stop(100%,rgba(48,255,144,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(48,255,144,1) 0%,rgba(237,45,237,1) 25%,rgba(201,152,38,1) 50%,rgba(48,255,230,1) 75%,rgba(48,255,144,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(48,255,144,1) 0%,rgba(237,45,237,1) 25%,rgba(201,152,38,1) 50%,rgba(48,255,230,1) 75%,rgba(48,255,144,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(48,255,144,1) 0%,rgba(237,45,237,1) 25%,rgba(201,152,38,1) 50%,rgba(48,255,230,1) 75%,rgba(48,255,144,1) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(48,255,144,1) 0%,rgba(237,45,237,1) 25%,rgba(201,152,38,1) 50%,rgba(48,255,230,1) 75%,rgba(48,255,144,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#30ff90', endColorstr='#30ff90',GradientType=1 ); /* IE6-9 */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
